.navbar{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 0.2rem;
}
.navbarContainer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.navItems{
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
